MONGO_URI=mongodb://localhost:27017/laet
SESSION_SECRET=JWTI9GidZBcPabY2Ls9FGlWFhsZ9gNfA
ADMIN_USER=uL9Omx4uUiKfrrO
ADMIN_PASS=uxvXnZtaMgbj2m7tqn71d4lY3ZSw1ufG
PORT=3000
PRODUCT_NAME=Aequilibrium
PIX_KEY=payments@store.com
WHATSAPP_CONTACT=+55 11 4002-8922
